@import 'variables';

.calendar {
  width: 1260px;
  margin: ($large-margin * 2) auto;
}

.calendar-header {
  overflow: auto;
  h2 {
    display: inline-block;
    float: left;
    max-width: 50%;
    margin: 0;
    font-size: $large-font-size;
    font-weight: $font-bold;
  }
}

.calendar-nav {
  float: right;
  max-width: 50%;
  margin-top: 6px;
  text-align: right;
  span {
    cursor: pointer;
  }
  .btn-today {
    display: inline-block;
    vertical-align: middle;
    padding: 0 $small-margin;
    margin: 0 $small-margin;
    font-size: $small-font-size;
    line-height: $large-margin;
    border: 1px solid $black;
    border-radius: 4px;
  }
}

.calendar-body {
  $grid-size: 180px;
  > div {
    display: inline-block;
    width: $grid-size;
    overflow: auto;
  }
  > :not(.weekday) {
    height: $grid-size;
  }
  .weekday {
    padding: $large-margin 0;
    font-size: $base-font-size;
    font-weight: $font-regular;
    line-height: 1em;
  }
  .no-date {
    font-size: 0;
  }
  .date {
    position: relative;
    padding: 0 $small-margin 0 0;
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: $xsmall-margin;
      margin: 0;
      background-color: $white;
      font-size: $base-font-size;
      font-weight: $font-bold;
      line-height: 1em;
      text-align: left;
    }
    .events {
      padding-top: $large-margin;
      height: $grid-size - $small-margin;
      overflow: auto;
    }
  }
  .today {
    h3 {
      width: auto;
      min-width: $large-margin;
      border-radius: 4px;
      background-color: $primary-pink;
      color: $white;
    }

  }
}
