// typography
// --------------------------------------------------

$typeface:        'Montserrat', sans-serif;

$large-font-size: 32px;
$base-font-size:  16px;
$small-font-size: 12px;

$font-regular:    400;
$font-bold:       700;


// color
// --------------------------------------------------

$white:         #ffffff;
$grey:          #f0f0f0;
$black:         #333333;

$primary-pink:  #ed7373;


// margins
// --------------------------------------------------

$xsmall-margin: 4px;
$small-margin:  8px;
$medium-margin: 16px;
$large-margin:  24px;
